<div id="login-background">
 
      <img class="login-log-icon"
        src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5ddcf94cc477b35ffe741ffd/c1a95e94ee128ed4a1b822eac9553dbc/login_icon.svg"
        alt="">
  <div class="login-container">
    
     
      <div class="form-style">
        <form action="/auth/login" method="POST" id="form-container">
          <label for="username">Username</label>
          <input class="inputs-style" id="username" type="text" name="username" placeholder="JonSnow">

          <br><br>

          <label for="password">Password</label>
          <input class="inputs-style" id="password" type="password" name="password" placeholder="Your password">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <button class="login-btn">Login</button>


          <p class="account-message">
            Don't have an account yet?
            <a class = "sign-up-link"href="/auth/signup">Signup</a>
          </p>
          {{#unless user}}

        
          
            <a class="loginBtn loginBtn--google" href="/auth/google">Login With Google</a>
          
        
        {{/unless}}

        </form>
        
      </div>
    
  </div>

  <br><br>
</div>