<h1>{{title}}</h1>
<p>Basic form to check if it works {{title}}</p>


<form action="/api/getchorizopeliculas" method="POST">

  <label for="genre">Genre</label>
  <input type="text" name="Genre" value="Action">
  <label for="rating">Rating</label>
  <input type="number" name="Rating" value="8">
  <select name="MovieTVshow">
    <option value="1">Movie</option>
    <option value="2">TV Show</option>
    <input type="submit" value="Submit">
  </select>
</form>