<h1>{{title}}</h1>
<p>Basic form to check if it works {{title}}</p>


<form action="/api/getchorizopeliculas" method="POST">

  <label for="genre">Genre</label>
  <input id="movie-genre" type="text" name="Genre" value="28">
  <label for="rating">Rating</label>
  <input id="movie-rating" type="number" min="0" max="10" name="Rating" value="8">
  <select id="movie-Tv" name="MovieTVshow">
    <option value="movie">Movie</option>
    <option value="tv">TV Show</option>
    <input  id="movieForm" type="submit" value="Submit">
  </select>
</form>
<div id = "printData">
  
</div>