

<div class="crop">
  <div class="text-presentation">
    <p>Somos el recomendador de películas y series Wiss.</p>
    <p>La manera mas rápida de encontrar lo que quieres ver. Pulsa el botón y rápidamente obtendras una recomendación 100% personalizada</p>
  </div>
   <a href="/index">
  <button class="movieFinder">Find a Movie
  </button>
   </a>
  {{!-- <img src="https://res.cloudinary.com/dexfqvxax/image/upload/v1574768391/sources/ironman3_wzt4oq.png" alt="ironman3"> --}}
</div>
