<div class="crop">
  <div class="setting-view"></div>
  <div class="main-info">
  <div class="text-presentation">
    <p>Somos el recomendador de películas y series Wiss.</p>
    <p>La manera mas rápida de encontrar lo que quieres ver. Pulsa el botón y rápidamente obtendras una recomendación 100% personalizada</p>
  </div>
  <div>
   <a href="/index">
   <div class="btn-index">Discover a movie!</div>
   </a>
   </div>
   </div>
</div>
