
<div class="form-style">
<form action="/api/getchorizopeliculas" method="POST">
  <label for="serie/movie">¿Serie o película?</label>
  <select class="form1" id="movie-Tv" name="movie-Tv">¿Serie o película?
    <option value="movie">Pelicula</option>
    <option value="tv">Serie</option>
  </select>
  <label for="queTeApetece">¿Qué te apetece?</label>
  <select class = "form1" id="genre" name="genre">¿Qué te apetece?
    <option value="reir">Reir</option>
    <option value="pasarRato">Pasar el rato</option>
    <option value="indignarme">Indignarme</option>
    <option value="emocion">Emocionarme</option>
    <option value="historia">Un poco de historia</option>
    <option value="inquietante">Algo inquietante</option>
  </select>
  <label for="epoca">¿Qué época?</label>
  <select class = "form1" id="year"name="epoca" >¿De qué epoca?
    <option value="classic">Clásica</option>
    <option value="modern">Moderna</option>
    <option value="current">Actual</option>
  </select>
  <label for="rating">¿Como de buena?</label>
  <select class="form1" id="rating" name="rating" >
    <option value="mala">Bodrio</option>
    <option value="normal">Normalita</option>
    <option value="top">Peliculón</option>
      </select>
       <input class="input-btn" id="movieForm" type="submit" value="Submit">
</form>

</div>
<div id="printData"></div>

