<div class="crop">
  <div class="setting-view"></div>
  <div class="main-info">
  <div class="text-presentation">
    <p>We are wissApp the personalized recommender of movies and series!</p>
    <p>Get your personalized recommendation by clicking below!</p>
  </div>
  <div>
   <a href="/index">
   <div class="btn-index">Discover a movie!</div>
   </a>
   </div>
   </div>
</div>
