<div>
  <div id="1" class="card-container hidden">
    <div id="movie-tv-cards" class="cards">
      <div id="movie-card" class="card" name="movie">Movie</div>
      <div id="tv-card" class="card" name="tv">Tv</div>
    </div>
  </div>
  <div id="2" class="card-container max">
    <div id="genre-cards" class="cards">
      <div id="reir-card" class="card" name="reir">Reir</div>
      <div id="pasarRato-card" class="card" name="pasarRato">Pasar el rato</div>
      <div id="indignarme-card" class="card" name="indignarme">indignarme</div>
    <div id="genre-cards" class="cards">
      <div id="llorar-card" class="card" name="emocion">Llorar</div>
      <div id="historia-card" class="card" name="historia">Historia</div>
      <div id="inquietarme-card" class="card" name="inquietarme">Inquietarme</div>
    </div>
  </div>
</div>
<div id="3" class="card-container hidden">
  <div id="year-cards" class="cards">
    <div id="movie" class="card">Movie</div>
    <div id="tv" class="card">Tv</div>
  </div>
</div>
<div id="4" class="card-container hidden">
  <div id="rating-cards" class="cards">
    <div id="movie" class="card">Movie</div>
    <div id="tv" class="card">Tv</div>
  </div>
</div>



</div>