<div>
  <div id="1-card" class="card-container">

    <div id="movie-tv-cards" class="cards">

      <div id="movie-card" class="card" name="movie">
        <div>
          <img class="form-icon"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/7b116e1fa494e6be545c10cccdd8fe35/pelicula-icon.svg"
            alt="">
          <p>Movie</p>
        </div>
      </div>
    </div>
    <div id="tv-card" class="card" name="tv">
      <div>
        <img class="form-icon"
          src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/9cad0a2531236fb43afafacd54134285/serie-icon.svg"
          alt="">
        <p>TV Series</p>
      </div>
    </div>
  </div>

  <div id="2-card" class="card-container max hidden">
    <div id="genre-cards" class="cards">

      <div id="reir-card" class="card" name="reir">
        <div>
          <img class="two-icon-form"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/c06f15a5ba59459fcb8f7241fd1f2771/laught-icon.svg"
            alt="">
          <p>Laugh</p>
        </div>
      </div>
      <div id="pasarRato-card" class="card" name="pasarRato">
        <div>
          <img class="two-icon-form"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/acc13d6b94331baf26f1dacc1e35846d/pasar-el-rato-icon.svg"
            alt="">
          <p>Hangout</p>
        </div>
      </div>
      <div id="indignarme-card" class="card" name="indignarme">
        <div>
          <img class="two-icon-form"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/f293e9f1218f24a1f3fb8aaad51d284e/indignarme-icon.svg"
            alt="">
          <p>Eeww</p>
        </div>
      </div>
      <div id="genre-cards" class="cards">
        <div id="emocion-card" class="card" name="emocion">
          <div>
            <img class="two-icon-form"
              src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/af0645c47dd5b4ea5fe2314a21a39258/cry-icon.svg"
              alt="">
            <p>Cry</p>
          </div>
        </div>
        <div id="historia-card" class="card" name="historia">
          <div>
            <img class="two-icon-form"
              src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/42dbb9ea8d894cee5e73a6ac5051e771/history-icon.svg"
              alt="">
            <p>Learn</p>
          </div>
        </div>
        <div id="inquietarme-card" class="card" name="inquietarme">
          <div>
            <img class="two-icon-form"
              src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575033574/sources/icons%20now/222yeka-amaze_ahg3nu.svg"
              alt="">
            <p>Amaze</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="3-card" class="card-container hidden">
    <div id="year-cards" class="cards">
      <div id="classic-card" class="card" name="classic">
        <div>
          <img class="form-icon"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/e1926376aa914c18d9c129efd1709556/clasica-icon.svg"
            alt="">
          <p>
            Baby Boomers</p>
        </div>
      </div>
    </div>
    <div id="modern-card" class="card" name="modern">
      <div>
        <img class="form-icon"
          src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/948c442a4f9cdadc41cb13b45695b39f/moderna-icon.svg"
          alt="">
        <p>Millenials</p>
      </div>
    </div>
    <div id="current-card" class="card" name="current">
      <div>
        <img class="form-icon"
          src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/130194efa366691ce0c707aed8e03832/actual-icon.svg"
          alt="">
        <p>Gen Z</p>
      </div>
    </div>
  </div>
  <div id="4-card" class="card-container hidden">
    <div id="rating-cards" class="cards">
      <div id="mala-card" class="card" name="mala">
        <div>
          <img class="form-icon"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/8f3aa1fe3e01cfb0f1982e3cbceef11b/normalita-icon.svg"
            alt="">
          <p>So so</p>
        </div>
      </div>
      <div id="normal-card" class="card" name="normal">
        <div>
          <img class="form-icon"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/d59f68b118c4ab70b5bd6f79a78b5f39/okay-okay-icon.svg"
            alt="">
          <p>Okay</p>
        </div>
      </div>
      <div id="top-card" class="card" name="top">
        <div>
          <img class="form-icon"
            src="https://trello-attachments.s3.amazonaws.com/5dd7bc68e7330e877ca6f2f8/5de0f0f45157b05f8d7db19c/e16a3a48d25ec3679cede646f5280ae5/peliculon-icon.svg"
            alt="">
          <p>Super</p>
        </div>
      </div>
    </div>
  </div>

  <form id="printMovie" action="" method="POST" class="hidden">
    <input id="img-form" type="text" name="imgPath" value=>
    <input id="title-form" type="text" name="title" value=>
    <input id="year-form" type="text" name="releaseDate" value=>
    <input id="genre-form" type="text" name="genre" value=>
    <input id="rate-form" type="text" name="voteAverage" value=>
  </form>
  <div id="reveal-movie-container" class="hidden">
    <div id="reveal-movie-cover">
      <div id="reveal-movie">
        <div id="reveal-movie-img">
          <img id="poster" src="" alt="not-found">
        </div>
        <div id="reveal-movie-info">
          <div id="info-container">
            <h3 id="title-movie"></h3><span id="year-movie"></span>
            <br>
            <br>
            <p id="overview-movie"></p>
          </div>
          <div id="reveal-other-info">
            <p id="genre-movie"></p>
            <p id="rate-movie"></p>
          </div>
          <div>
            {{#if user}}
            <div>
              <button id="btn-1" type="submit" form="printMovie">
                <img class= "img-btn" src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575031948/sources/icons%20now/yeka-later-icon_iiv0ye.svg" alt="watchlater">
              </button>
              <button id="btn-2" type="submit" form="printMovie">
                <img class="img-btn" src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575031948/sources/icons%20now/yeka-like-unclicked_bp3lal.svg" alt="fav">
              </button>
              <button id="btn-3" type="submit" form="printMovie">
                <img class="img-btn" src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575031948/sources/icons%20now/yeka-2222burned_s3gsib.svg" alt="burnIt!">
              </button>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>