@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Nunito";
}

a {
  margin-right: 15px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.nav-bar-container {
  width: 100vw;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 40px 0px;
  background-color: #16192d;
  height: 5vh;
}

#logo {
  display: flex;
  flex-direction: column;
}

#logo span {
  font-size: 15px;
}

.footer {
  widows: 100vw;
  height: 200px;
  background-color: #16192d;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  color: white;
}

.loginIcon {
  display: flex;
  align-items: center;
}
.loginIcon img {
  margin-right: 100px;
  width: 70px;
  height: 70px;
}

h2 {
  font-size: 47px;
  color: #fc5c4c;
}

.home {
  margin-left: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieFinder {
  background-color: #fc5c4c;
  width: 600px;
  height: 100px;
  margin-right: 500px;
  margin-bottom: 200px;
  padding: 40px;
}

.crop {
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100vw;
  height: 1000px;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/dexfqvxax/image/upload/v1574768391/sources/ironman3_wzt4oq.png");
}

.text-presentation {
  margin-bottom: 20px;
  margin-right: 500px;
  height: 300px;
  width: 700px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.text-presentation p {
  margin: 20px;
  padding: 10px;
  font-size: 27px;
  color: white;
}

span {
  font-size: 22px;
  color: white;
}
//MAIN FORM-----------------
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(00, 00, 00, 0.9);
  height: 90vh;
  width: 100vw;
}

.max {
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fc5c4c;
  width: 20vw;
  height: 20vh;
  border-radius: 10px;
  margin-bottom: 5vw;
  margin-right: 5vw;
  font-size: 40px;
  text-align: center;
  color: whitesmoke;
  transition: 0.2s;
}
.card:hover {
  background: whitesmoke;
  color: #fc5c4c;
  border: 2px solid #fc5c4c;
  box-sizing: border-box;
}
//-------------------------
//SHHHHHHH is here------------
.hidden {
  display: none;
  transition: 5s;
}
//-------------------------
//REVEAL_MOVIE-------------
#reveal-movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(00, 00, 00, 0.9);
  width: 100vw;
  height: 85vh;
}
#reveal-movie-cover{
  height: 60vh;
  width: 80vw;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
}
#reveal-movie {
  display: flex;
  height: 60vh;
  width: 80vw;
  border-radius: 5px;
  background: rgba($color: #fc5c4c, $alpha: 0.8);
}
#reveal-movie-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  height: 100%;
  border-radius: 5px;
  
}
#reveal-movie-img img {
  border-radius: 5px;
  width: 18vw;
  margin-right: 8%;
  box-shadow: 2px 2px 10px #16192d;
}
#reveal-movie-info {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}
#info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 4vh 2vw;
}
#title-movie {
  color: white;
  font-size: 40px;
}
#overview-movie{
  background: rgba(101, 100, 100, 0.4);
  border-radius: 10px;
  padding: 10px;
  color:white ;
}
#reveal-other-info{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 4vh 2vw;
}

//------------------------
.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: center;
}
.footer-info {
  margin-top: 100px;
  font-size: 25px;
}

.input-btn {
  height: 50px;
  width: 200px;
}

.form1 {
  width: 200px;
  height: 50px;
}

.form-style {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

.slack-login {
  text-decoration: underline;
  color: blue;
}

.google-login {
  text-decoration: underline;
  color: blue;
}
.img-prueba {
  width: 100px;
}
